.App {
  text-align: center;
}

.modal {
  text-align: center;
  padding: 0;
}

.modal-content{
  border: solid 3px rgb(255, 255, 255)!important;
}

.modal-header {
  background-color: rgb(29, 29, 29);
}

.modal-title {
  color: #fff;
  text-align: center!important;
  width: 100%;
}

.modal-body img {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 25px;
}

.btn-close {
  background-color: white!important;
  border: 10px solid white!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.cardLayout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 4rem;
}

.hornedBeastCard {
  width: 22rem;
  margin: 10px;
  text-align: center;
	box-shadow: 0 3px 23px rgba(0, 0, 0, 0.7)  ; 
	-webkit-box-shadow: 0 3px 23px rgba(0, 0, 0, 0.7)  ; 
	-moz-box-shadow: 0 3px 23px rgba(0, 0, 0, 0.7)  ; 
}

.hornedBeastCard img {
  max-height: auto;
  max-width: 15em;
  padding-bottom: 2rem;
  cursor: pointer;
}

.hornedBeastCardHeader {
  font-size: 1rem;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
